<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/bootstrap.min.css" >
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<title>Authors</title>
</head>

<body>
     <!-- Navbar starts here -->
    
  <header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
         <a href="/" class="navbar-brand">Home</a>
      </div>
     
      <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <%for(i=0;i<nav.length;i++){%>
              <li>
                  <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
                
              </li>
              <%}%>
          </ul>
           <!-- <ul class="nav navbar-right navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
              <ul class="dropdown-menu" style="padding:12px;">
                 <form class="form-inline">
                  <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search"> 
                </form> 
              </ul>
            </li> 
          </ul> --> 
        </nav>
      </div>
    
    </header>
    <!-- /navbar -->

    <!--Next Blue master header div starts -->
  <div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p id="heading">Authors</p>
        </div>    
        <div class="col-md-5" >
          <div class="sideblock sideblock-lg"> 
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!-- /container -->
    <!-- top space in blue head starts -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-space"> 
          </div>
        </div>
      </div> 
    </div>
    <!-- top space in blue head ends -->
</div> 
<!--space for authors starts  -->
<div class="container">

  <div class="row">
    <div class="col-md-12" >
      <div class="panel">
        <div class="panel_body" >

           <!--Authors details-->
           <div class="col-xs-8"></div> 
            <%for(i=0;i<authors.length;i++){%>
           <div class="row"> 
              <br>   
              <div class="col-md-2 col-sm-3 text-center">
                <a class="story-title" href="#"><img alt="" src="/images/<%=authors[i].img%>" style="width:100px;height:100px" class="img-circle"></a>
              </div>
              <div class="col-md-10 col-sm-9">
                <h3><%=authors[i].name%></h3>
                <div class="row">
                  <div class="col-xs-9">
                    <p><span style="background-color: #888686;"><%=authors[i].genre%></span></p>
                    <h6 style="font-family:courier,'new courier';"><%=authors[i].genre%>  • 
                        <a href="/author/<%=i%>">Read More</a>
                    </h4>
                  </div>
                  <div class="col-xs-3"></div>
                </div>
                <br><br>
              </div>
            </div>
            <hr>
            <%}%>
                <div class="row">
              <a href="#" id="btnmore" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
            <hr>   
          </div>
      </div>
      
    </div>
  </div>
</div>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="list-inline">
          <span><i class="icon-facebook icon-2x"></i></span>
          <span><i class="icon-twitter icon-2x"></i></span>
          <span><i class="icon-google-plus icon-2x"></i></span>
          <span><i class="icon-pinterest icon-2x"></i></span>
        </div>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
<script src="/js/popper.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>